:root {
  --font-text: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  /* transition: all 0.3s ease-in; */
}

img {
  max-width: 100%;
  height: auto;
}

html {
  border: 15px solid #0081b1;
}

body,
html {
  min-height: 100%;
  width: 100%;
  font-family: var(--font-text);
}

.clear::after,
.clear::before {
  content: " ";
  display: table;
}

.clear::after {
  clear: both;
}

/* Main Styles */

body {
  background: #0099cf;
  color: white;
}

body::after {
  content: url(../images/belgrade.jpg) url(../images/cair.jpg)
    url(../images/lisbon.jpg) url(../images/moscow.jpg)
    url(../images/new-delhi.jpg) url(../images/new-york.jpg)
    url(../images/paris.jpg) url(../images/san-francisco.jpg)
    url(../images/sydney.jpg) url(../images/tel-aviv.jpg)
    url(../images/tokyo.jpg);
  display: none;
}

.container {
  width: 100%;
  max-width: 860px;
  min-width: 360px;
  margin: 0 auto;
  padding: 0 15px;
}

ul div {
  display: inline-block;
}

div li {
  transition: 0.3s;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

header {
  padding: 20px 0;
}

h1 {
  font-size: 26px;
}

ul {
  font-size: 0;
  text-align: center;
  border: 2px solid white;
  cursor: pointer;
  background: white;
}

li {
  display: inline-block;
  justify-content: center;
  border: 2px solid white;
  padding: 30px;
  height: 130px;
  width: 100%;
  font-size: 18px;
  vertical-align: middle;
  background: white;
}

.half-width {
  width: 50%;
}

.quarter-width {
  width: 25%;
}

.full-width {
  width: 100%;
}

.Lisbon {
  background: #0099cf;
}

.Paris {
  background: #33cbcc;
}

.Belgrade {
  background: #986699;
}

.Moscow {
  background: #c24847;
}

.Tel-Aviv {
  background: #e2664a;
}

.Cair {
  background: #ffcc66;
}

.New-York {
  background: #9acc99;
}

.New-Delhi {
  background: #66999a;
}

.San-Francisco {
  background: #cc6698;
}

.Tokyo {
  background: #339967;
}

.Sydney {
  background: #656798;
}

footer {
  padding: 20px 0;
}

sup {
  opacity: 80%;
}

li .wi,
p {
  padding-top: 10px;
  display: inline-block;
}

.wi {
  color: white;
  opacity: 0.7;
  font-size: 22px;
  padding: 5px;
}

p {
  font-family: var(--font-text);
}

#main-ico {
  opacity: 1;
}

ul:hover li:not(:hover) {
  opacity: 0.6;
}

/* ^^^ (если забуду спросить) Вот эту часть с псевдоклассами я ""одолжил". Я правильно понял, что таким образом при наведении на весь ul у нас он становится прозрачным за исключением той li-шки, на которой сейчас курсор? То есть, именно к ней ховер просто не применяется благодаря :not? */

.Lisbon:hover {
  background-image: url(../images/lisbon.jpg);
  background-size: 110% auto;
  opacity: 0.7;
  background-position-y: -20px;
}

.Paris:hover {
  background-image: url(../images/paris.jpg);
  background-repeat: no-repeat;
  background-size: 110% auto;
  opacity: 0.7;
  background-position-y: -10px;
}
.Belgrade:hover {
  background-image: url(../images/belgrade.jpg);
  background-size: 110% auto;
  opacity: 0.7;
  background-position-y: -20px;
}

.Moscow:hover {
  background-image: url(../images/moscow.jpg);
  background-size: 110% auto;
  opacity: 0.7;
  background-position-y: -20px;
}

.Tel-Aviv:hover {
  background-image: url(../images/tel-aviv.jpg);
  background-size: 110% auto;
  opacity: 0.7;
  background-position-y: -20px;
}

.Cair:hover {
  background-image: url(../images/cair.jpg);
  background-size: 130% auto;
  opacity: 0.7;
  background-position-y: -20px;
}

.New-York:hover {
  background-image: url(../images/new-york.jpg);
  background-size: 110% auto;
  opacity: 0.7;
  background-position-y: -20px;
}

.New-Delhi:hover {
  background-image: url(../images/new-delhi.jpg);
  background-size: 110% auto;
  opacity: 0.7;
  background-position-y: -20px;
}

.San-Francisco:hover {
  background-image: url(../images/san-francisco.jpg);
  background-size: 100% auto;
  opacity: 0.7;
  background-position-y: -60px;
}

.Tokyo:hover {
  background-image: url(../images/tokyo.jpg);
  background-size: 130% auto;
  opacity: 0.7;
  background-position-y: -20px;
}

.Sydney:hover {
  background-image: url(../images/sydney.jpg);
  background-size: 100% auto;
  opacity: 0.7;
  background-position-y: -140px;
}

li:hover .wi,
li:hover {
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1), 0px 4px 5px rgba(0, 0, 0, 1),
    0px 1px 3px rgba(0, 0, 0, 1);
  color: white;
  opacity: 1;
}

li:hover {
  background-image: linear-gradient(to bottom, black 30%, transparent 100%);
}
